@page
@model TestTask.Web.Pages.About

@{
ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1 class="display-4">About</h1>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <p class="lead" style="text-align: justify;">
                        Welcome to Weather Viewer! Our website is dedicated to providing comprehensive and accurate weather data archives. Here, you can explore historical weather records, view detailed meteorological data, and gain insights into weather patterns over time.
                    </p>
                    <p class="lead" style="text-align: justify;">
                        Whether you are a researcher, weather enthusiast, or simply curious about past weather conditions, our platform offers an easy-to-use interface to access a wealth of information. We strive to maintain the highest standards of data accuracy and usability, ensuring that our users have the best experience possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
