@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Hello! And welcome to the Los Pollos Hermanos family. My name is Gustavo, but you can call me “Gus”. I am thrilled that you'll be joining our team.</h2>
