@page
@model UploadModel
@{
}

@if (Model.BindingModel.UploadResults is null)
{
	<div class="text-center">
		<h1 class="display-4">Загрузка архивов</h1>
	</div>

	<div class="container">
		<div class="mb-3 mt-3">
			<form method="post" enctype="multipart/form-data" id="archivesForm">
				<div class="mb-3">
					<label class="form-label">Загрузить</label>
					<input type="file" multiple accept=".xlsx" asp-for="BindingModel.Files" id="chooseFiles" class="form-control" />
					<span asp-validation-for="BindingModel.Files" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button id="sumbitButton" class="btn btn-primary">Подтвердить</button>
				</div>
			</form>
		</div>

		<div class="spinner-border text-primary d-none" role="status" id="loadingIndicator"></div>
		<span class="sr-only d-none" id="savingSpan">Загрузка...</span>
	</div>

	<script type="text/javascript">
		document.getElementById('sumbitButton').addEventListener('click', function () {
			document.getElementById('archivesForm').submit();
			document.getElementById('sumbitButton').setAttribute('disabled', 'true');
			document.getElementById('chooseFiles').setAttribute('disabled', 'true');
			document.getElementById('savingSpan').classList.remove('d-none');
			document.getElementById('loadingIndicator').classList.remove('d-none');
		});
	</script>
}
else
{
	<p><span style="color: green;">&#10004;</span> - данные были успешно сохранены в базу данных.</p>
	<p><span style="color: red;">&#10008;</span> - данные из файла таблицы не были сохранены.</p>
	<table>
		<thead>
			<tr>
				<th>Имя файла</th>
				<th>Статус</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var result in Model.BindingModel.UploadResults)
			{
				<tr>
					<td>@result.FileName</td>
					<td style="display: flex;justify-content: center;">
						@if (result.SuccessfullyParsed)
						{
							<span style="color: green;">&#10004;</span>
						}
						else
						{
							<span style="color: red;">&#10008;</span>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}



